@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  overflow: hidden;
  background: #9a9;
}

body canvas {
  cursor: pointer;
}

body a {
  display: none;
}

body li, body .close-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: capitalize;
}
